<div id="latest">
  <h1><%=t :latest_updates %></h1>
  <% @latest.each do |update| %>
    <div class="update">
      <span class="left"><%= link_to t(:scanlation, :name => JapaneseTitle.translate_title(update.name), :volume => update.volume, :chapter => update.chapter), :action => :read, :id => update.id %></span>
      <span class="right"><%=t :uploaded, :time => time_ago_in_words(update.created_at) %><%=raw " | #{link_to t(:destroy), :action => 'destroy_novel', :id => update.id}" if session[:level] == 'admin' %></span>
    </div>
  <% end %>
</div>
