<div id="latest">
  <h1>Latest Updates</h1>
  <% @latest.each do |update| %>
    <div class="update">
      <span class="left"><%= link_to get_dl_name(update.name, update.volume, update.chapter), get_dl_link(update) %></span>
      <span class="right">Uploaded <%= time_ago_in_words(update.created_at) %> ago</span>
    </div>
  <% end %>
</div>
