<div id="news">
  <div class="update">
    <h3>Who are you?</h3>
    <p>We translate manga/manhwa to make it available to (1) those who cannot read the language and do not have it currently serialized in their language; or (2) those who are not near any bookstores and do not have the means to purchase manga through the internet.</p>
  </div>
  <div class="update">
    <h3>What is a scanlation?</h3>
    <p>A scanlation is a translated and edited version of manga. It was started by fans for fans who could not read the original language (Japanese originally, now expanded to include Korean and Chinese).</p>
  </div>
  <div class="update">
    <h3>Can I mirror your scanlations?</h3>
    <p>Yes, go right ahead! It'll save me bandwidth and help spread the scanlations, which is the original intent of scanlating to begin with!</p>
  </div>
  <div class="update">
    <h3>The links are down!</h3>
    <p>If the links are down, just post a comment on the latest announcement with the relevant file name or link.</p>
  </div>
  <div class="update">
    <h3>Can I join your group?</h3>
    <p>Unfortunately, we are not currently accepting any members.</p>
  </div>
</div>
