<h2>Directory</h2>
<pre>Sections under construction below:
-<%= link_to 'Scanlations page', :controller => 'scans', :action => 'index' %>
-<%= link_to 'Administration', :controller => 'admin', :action => 'index' %>

Sections complete:
-<%= link_to 'Index', :action => 'index' %>
-<%= link_to 'Search', :action => 'search' %></pre>
