<h2>Directory</h2>
<pre>Sections under construction below:
-<%= link_to 'Scanlations page', :controller => 'scans', :action => 'index' %>

Sections complete:
-<%= link_to 'Index', :action => 'index' %></pre>
