<h3><%=t :showing_for %> <%= params[:search] %></h3>
<div id="output">
  <% @search.results.each do |result| %>
    <div class="result">
      <%= link_to t(:scanlation, :name => JapaneseTitle.translate_title(result.name), :volume => result.volume, :chapter => result.chapter), result.url %>
    </div>
  <% end %>
</div>
<%= will_paginate_with_i18n(@search.results, :params => params) %>
