<h3>Showing results for: <%= params[:search] %></h3>
<div id="output">
  <% @search.results.each do |result| %>
    <div class="result">
      <%= link_to "[%s] Volume %d, Chapter %d" % [result.name, result.volume, result.chapter], result.url %>
    </div>
  <% end %>
</div>
<%= will_paginate_with_i18n(@search.results, :params => params) %>
