div#banner {
  span {
    float: left;
    width: 30%;
    height: 100%;
    img {
      height: 90%;
      width: 90%;
    }
  }
  span.forty {
    width: 40%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  div#search_bar {
    float: right;
    input#search_field {
      float: left;
      height: 25px;
      margin-top: 2px;
    }
    input#submit {
      float: right;
      height: 24px;
      border-top: 1px solid white;
      border-right: 1px solid white;
      margin: 2px 2px 0 0;
    }
  }
}
