@mixin gradient($first, $second) {
  @include linear-gradient(color-stops($second, $first));
}
@mixin chameleon($first, $second) {
  @include transition(color, 0.5s, linear);
  color: $first;
  &:hover {
    color: $second;
  }
}
@mixin shadow($hoffset, $voffset, $blur, $color) {
  @include single-box-shadow($color, $hoffset, $voffset, $blur);
}
@mixin bloat($first, $second) {
  @include transition(width, 0.5s, linear);
  width: $first;
  &:hover {
    width: $second;
  }
}
