div#latest {
  div.update {
    span.left {
      float: left;
      width: 350px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span.right {
      float: right;
      padding-left: 50px;
    }
  }
}
