<div id="cboxdiv" style="line-height:0;">
  <h1>Chat</h1>
  <div><iframe height="305" src="http://www6.cbox.ws/box/?boxid=72198&amp;boxtag=wnrw5d&amp;sec=main" scrolling="auto" name="cboxmain"></iframe></div>
  <div><iframe height="75" src="http://www6.cbox.ws/box/?boxid=72198&amp;boxtag=wnrw5d&amp;sec=form" scrolling="no" style="border-top:0px"></iframe></div>
</div>
