<div id="navbar_cushion">
  <div id="navbar">
    <ul>
      <li><%= back_to_home('Home') %></li>
      <li><%= link_to 'Scanlations', :controller => 'scans', :action => 'index' %></li>
      <li><%= link_to 'FAQ', :controller => 'home', :action => 'faq' %></li>
    </ul>
  </div>
</div>
